<div class="modal-header">
  <h4 class="modal-title">{{ carrera.name | titlecase }}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  ></button>
</div>
<form (ngSubmit)="crearCargaAcademica()" [formGroup]="formulario">
  <div class="modal-body">

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Nombre</span>
      <input formControlName="name" type="text" class="form-control" placeholder="Primer_semestre..." aria-label="name" aria-describedby="basic-addon1">
    </div>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-text">Descripcion</span>
        <textarea formControlName="description" class="form-control" aria-label="With textarea"></textarea>
      </div>
    </div>
  </div>

  {{ formulario.value | json }}
  <div class="modal-footer d-flex justify-content-end gap-2">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="activeModal.close()"
    >
      Cerrar
    </button>
    <button
      [disabled]="formulario.invalid"
      type="submit"
      class="btn btn-outline-primary"
    >
      Crear
    </button>
  </div>
</form>
