<div id="rightSidebar" class="p-3 rounded-start">
  <div class="sidebar-content">

    <hr>

    <h4 class="sidebar-title">GRUPOS</h4>
    <button class="btn btn-success">Crear Grupo</button>

    <hr>

    <ul class="nav flex-column">
      @for (grupo of grupos; track $index) {
        <li class="nav-item">
          <a style="cursor: pointer;" (click)="emitirGrupo(grupo)" class="nav-link text-light">
            <i class="bi bi-house"></i>
            <span class="link-text text-dark ">{{ grupo.name }}</span>
          </a>
        </li>
      }@empty {
        <li class="nav-item">
          <a href="#" class="nav-link text-light">
            <i class="bi bi-house"></i>
            <span class="link-text text-dark">No hay grupos disponibles</span>
          </a>
        </li>
      }
    </ul>
  </div>
</div>