<div class="">
  @if (grupos$ | async; as gruposInfo){

    @if(grupo.estudiantes){
      <div class="content-group">
        <app-students-list-group
          (cambios)="cambiosEmitidos($event)"
          (quitarGrupo)="eliminarEstudianteDelGrupo($event)"
          [grupo]="grupo"
          class="card p-3 mb-3"
        ></app-students-list-group>
      </div>
    }@else {
      <div class="content-group text-center my-5">
        <h2 class="text-secondary">
          Seleccione un grupo...
        </h2>
      </div>
    }

    <app-sidebar-groups
      (emitirCambiosGrupo)="obtenerCambios($event)"
      (emitirBorrarGrupo)="eliminarGrupo($event)"
      (grupoConEstudiantes)="obtenerEstudiantes($event)"
      (emitirCrearGrupo)="crearGrupo()"
      [grupos]="gruposInfo.grupos"
    ></app-sidebar-groups>

  }@else if(error){
    <app-error-servidor></app-error-servidor>
  }@else{
    <ngx-spinner
      bdColor="rgba(0, 0, 0, 0.8)"
      size="medium"
      color="#fff"
      type="pacman"
    >
      <p style="color: white">Cargando...</p>
    </ngx-spinner>
  }
</div>
