<div class="container">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <button class="text-dark" ngbNavLink>Manual</button>
      <ng-template ngbNavContent>
        <app-semiautomatico></app-semiautomatico>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <button class="text-dark" ngbNavLink>Semiautomatico</button>
      <ng-template ngbNavContent>
        <app-manual></app-manual>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <button class="text-dark" ngbNavLink>Automatico</button>
      <ng-template ngbNavContent>
        <app-automatico></app-automatico>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
