<div class="container-fluid bg-body-secondary border rounded pb-2">
  <div class="row h-25">
    <h1 class="text-center text-primary">Universidad los libertadores</h1>
  </div>

  <div class="row">
    <div class="container">
      <div class="row border mx-1">
        <h4 class="text-left">Anuncios</h4>
        <!-- <div class="col-12 col-md-6 border p-0">

          <img src="/assets/images/becas.png" class="img-fluid" alt="Anuncio#1">
        </div>
        <div class="col-12 becas col-md-6 border p-0">
          <div class="ads">beach_access</div>
          <div class="ads">beach_access</div>
          <div class="ads">beach_access</div>
          <div class="ads">beach_access</div>
          <div class="ads">beach_access</div>
        </div>
      </div> -->
      <div class="row">
        <div class="clearfix">
          <img src="/assets/images/becas.png" class="col-md-6 img-fluid float-md-end mb-3 ms-md-3" alt="...">
          <p>
            A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image.
          </p>
          <p>
            As you can see the paragraphs gracefully wrap around the floated image. Now imagine how this would look with some actual content in here, rather than just this boring placeholder text that goes on and on, but actually conveys no tangible information at. It simply takes up space and should not really be read.
          </p>
          <p>
            And yet, here you are, still persevering in reading this placeholder text, hoping for some more insights, or some hidden easter egg of content. A joke, perhaps. Unfortunately, there's none of that here.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>