<div class="container m-4 mx-4 mx-auto">

  <h3>Asignacion De Materias A Maestros.</h3>
  <br>
  <p>Bienvenido al panel para asignarle las asignaturas a un maestro
    primero debe seleccionar al maestr&#64;</p>
  <br>

  <form (ngSubmit)="addAsignaturaAMaestro()" [formGroup]="asignacionMaterias">

    <div class="row my-2 align-items-center">
      <div class="col-md-12 col-lg-4">
        <div class="profesor">
          <label for="profesor"><strong>Maestro</strong></label>
          <select (change)="obtenerAsignaturas()" formControlName="id_teacher" name="profesor" class="form-select" id="profesor">
            @if (profesores$| async; as profesoresInfo) {
              <option value="">Seleccione un profesor</option>
              @for( profesor of profesoresInfo.teachers; track $index) {
                <option [value]="profesor.id">{{ profesor.id }}  {{ profesor.name | titlecase }}</option>
              }@empty {
                <option value="">No hay profesores disponibles.</option>
              }
            }@else {
              <option value="" disabled selected>Cargando...</option>
            }
          </select>
        </div>
      </div>

      <div class="col-md-12 ms-1 col-lg-7">
        <p>Debe seleccionar a un maestro!<br>
          No hay maestros? contacte con su administracion!
        </p>
      </div>
    </div>
    <br>

    <hr class="border border-2 opacity-75 my-3">

    <br>
    <div class="row my-2 align-items-center">
      <div class="col-md-12 col-lg-4">
        <div class="profesor">
          <label for="asignatura"><strong>Asignaturas</strong></label>
          <select (change)="valorCien()"  formControlName="id_subject" name="profesor" class="form-select" id="asignatura">
            @if (asignaturas$ | async; as asignaturasInfo) {
              <option value="">Seleccione una asignatura</option>
              @for (asignatura of asignaturasInfo.subjects; track $index) {
                <option [value]="asignatura.id">{{ asignatura.name | titlecase }}</option>
              }@empty {
                <option value="">No hay asignaturas disponibles.</option>
              }
            }@else {
              <option value="" disabled selected>Cargando...</option>
            }
          </select>
        </div>
      </div>

      <div class="col-md-12 ms-1 col-lg-7">
        <p>Debe seleccionar a un asignatura!<br>
          No hay asignatura? contacte con su administracion!
        </p>
      </div>
    </div>
    <br>

    <hr class="border border-2 opacity-75 my-3">

    <br>
    <div class="row">
      <div class="col-8 align-content-center">
        <ngb-progressbar type="dark" textType="white" [value]="valor" [showValue]="true" />
      </div>
      <div class="col-4 text-center">
        <button type="submit" [disabled]="asignacionMaterias.invalid" class="btn btn-secondary">Asignar materias</button>
      </div>
    </div>
  </form>
</div>