<div class="container_">

  <div class="sidebar">
    <nav class="nav flex-column">
      <a routerLinkActive="active" class="nav-link" routerLink="main">
        <span class="icon">
          <i class="bi bi-grid"></i>
        </span>
        <span class="description">Dashboard</span>
      </a>

      <a routerLinkActive="active" class="nav-link" routerLink="perfil">
        <span class="icon">
          <i class="bi bi-person-circle"></i>
        </span>
        <span class="description">Perfil</span>
      </a>
      <a routerLinkActive="active" class="nav-link" routerLink="horario">
        <span class="icon">
          <i class="bi bi-calendar"></i>
        </span>
        <span class="description">Horario</span>
      </a>
      <a routerLink="config" routerLinkActive="active" class="nav-link" routerLink="config">
        <span class="icon">
          <i class="bi bi-gear"></i>
        </span>
        <span class="description">Configuracion</span>
      </a>


      <a class="nav-link mt-auto" href="" (click)="logout()">
        <span class="icon">
          <i class="bi bi-box-arrow-left"></i>
        </span>
        <span class="description">Logout</span>
      </a>
    </nav>
  </div>

  <section  class="main-content">
    <router-outlet></router-outlet>
  </section>

</div>

