<div class="seccion-perfil-usuario">
  <div class="perfil-usuario-header">
    <div class="perfil-usuario-portada">
      <div class="perfil-usuario-avatar">
        <img class="img-fluid"
          src="https://static.vecteezy.com/system/resources/previews/014/300/061/non_2x/man-profile-glyph-icon-anonymous-photo-for-documents-illustration-vector.jpg"
          alt="img-avatar">
      </div>
    </div>
  </div>
  <div class="perfil-usuario-body">
    <div class="perfil-usuario-bio">
      <h3 class="titulo">{{ estudiante.name }}</h3>
      <p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.</p>
    </div>
    <div class="perfil-usuario-footer w-100">
      <ul class="lista-datos w-100">
        <li>
          <div class="row">
            <div class="col">Dirección:</div>
            <div class="col">{{ estudiante.name }}</div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col">Teléfono: </div>
            <div class="col">{{ estudiante.phone }}</div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col">email: </div>
            <div class="col">{{ estudiante.email }}</div>
          </div>
        </li>
        <!-- <li>
          <div class="row">
            <div class="col">Semestre:</div>
            <div class="col">2</div>
          </div>
        </li> -->
        <!-- <li>
          <div class="row">
            <div class="col">Carrera: </div>
            <div class="col">{{ estudiante.carrera }}</div>
          </div>
        </li> -->
        <li>
          <div class="row">
            <div class="col">Documento: </div>
            <div class="col">{{ estudiante.identify }}</div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>