<div class="container">
  <form>
    <label class="form-label" for="grupo">Grupos</label>
    <div class="row">

      <div class="col-8">
        <select [(ngModel)]="grupo_id" class="form-control" name="grupo" id="grupo">
          @if (grupos$| async; as gruposInfo) {
            <option selected value="">Seleccione un grupo</option>
            @for (grupo of gruposInfo.groups; track $index) {
              <option [value]="grupo.id">{{ grupo.name |titlecase }}</option>
            }@empty {
              <option value="">No hay grupos disponibles</option>
            }
          }@else {
            <option selected value="">Cargando grupos...</option>
          }
        </select>
      </div>

      <div class="col-3">
        <button [disabled]="!grupo_id" (click)="buscarHorario()" class="btn btn-secondary">Buscar horario</button>
      </div>
    </div>

  </form>
</div>

@if (horario$ | async; as horarioInfo) {
  <app-schedule [horario]="horarioInfo.horario" ></app-schedule>
}

