<div class="container mt-4">
  <div class="form-group">
    <label for="grupo" class="form-label h5 mb-3">Seleccione el grupo para ver su horario</label>
    <div class="input-group">
      <select (change)="onChange($event)" class="form-select" name="grupo" id="grupo" aria-label="Seleccionar grupo">
        <option [value]="null" disabled selected>Seleccione</option>
        @for (grupo of grupos; track $index) {
          <option  [value]="grupo.id">{{ grupo.name }}</option>
        }@empty {
          <option value="null">No hay grupos disponibles</option>
        }
      </select>
      <button (click)="buscarHorario()" class="btn btn-primary ms-2" type="button">Buscar Horario</button>
    </div>
  </div>

  @if (horario$ | async; as horarioInfo) {
    @if (horarioInfo.horario != null) {
      <app-schedule [horario]="horarioInfo.horario"  ></app-schedule>
    }
  }

</div>

