<table class="table table-striped">
    <thead>
      <tr>
      @for (col of thead; track $index) {
        <th>{{ col }}</th>
      }
    </tr>
    </thead>
    <tbody>
      @for (user of datos; track user.id) {
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.email }}</td>
        </tr>
      } @empty {
        <tr>
          <td colspan="5">No hay datos disponibles</td>
        </tr>
      }
    </tbody>
</table>
<!--
<p-table [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
      <tr>
          @for (columnas of thead; track $index) {
            <th>{{ columnas }}</th>
          }
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
      <tr>
        @for (user of datos; track user.id) {
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.email }}</td>
          </tr>
        } @empty {
          <tr>
            <td colspan="5">No hay datos disponibles</td>
          </tr>
        }
      </tr>
  </ng-template>
</p-table> -->